@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F6D2D2;
  --foreground: #4A3838;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
